
#app{

    @img-path: '../../../modules/wellcomeplayer-shared-module/img/';

    .overlay{

        &.download{
            .middle {
                .content{
                    .options li label{
                        width: 190px
                    }
                }
            }
        }

        &.login{

            width: 468px;

            a.login{
                float: right;
                margin: @margin-medium-vertical 0 0 0;
            }

            .bottom{
                background: none;
            }

            .message {
                margin: @margin-medium-vertical 0 0 0 !important;
                padding: @padding-medium-vertical @padding-medium-horizontal @padding-medium-vertical 0 !important;
                overflow: auto;

                &.loading{
                    .loading(@loader-white-bg);
                }

                &.guest{
                    height: 120px;
                    margin-bottom: @margin-medium-vertical !important;
                }

                ul{
                    list-style: square outside url('@{img-path}bullet.png');
                    padding-left: 1em;
                    margin: 1em 0;

                    li{
                        padding-bottom: 0.5em;
                    }
                }
            }

            a.acceptTerms {
                float: right;
            }

            a.login {
                float: right;
                margin: @margin-medium-vertical 0 0 0;
            }

            .libraryLogin {
                background: @overlay-group-bg;
                margin: 0;
                padding: @padding-medium;
                overflow: hidden;

                h6 {
                    margin: 0;
                    padding: 0 0 10px 0;
                    font-size: 1.3333em;
                }

                a {
                    display: block;
                    background: #FFF url('@{theme-img-path}sprite.png') 0 -3100px no-repeat;
                    background-image: url('@{theme-img-path}sprite.png'), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 100%);
                    border: 1px solid @gray-light;
                    font-size: 12px;
                    margin: 0 4px 10px 0;
                    padding: 5px 10px 5px 30px;
                    color: @gray-dark;
                    font-weight: normal;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                    -o-border-radius: 3px;
                    border-radius: 3px;

                    &.library {
                        background-position: -3px -4035px, 0 0;
                    }

                    &.twitter {
                        background-position: -3px -3102px, 0 0;
                    }

                    &.facebook {
                        background-position: -3px -3152px, 0 0;
                    }

                    &.google {
                        background-position: -3px -3252px, 0 0;
                    }

                    &.openid {
                        background-position: -3px -3202px, 0 0;
                    }
                }
            }
        }

        &.restrictedFile{
            width: 468px;

            a{
                margin: @margin-medium-vertical @margin-large-horizontal 0 0;
            }

            .bottom{
                background: none;
            }
        }
    }

    .main-login{

        label {
            display: block;
            float: none;
            font-weight: bold;
            font-size: 1.3333em;
            text-align: left;
            padding: @padding-medium-vertical 0 @padding-small-vertical 0;
        }
    }

    .main-login-buttons {
        overflow: hidden;
        margin: 0 0 @margin-medium-vertical 0;

        .forgot {
            float: left;
            margin: @margin-medium-vertical 0 0 0;
        }

        .register {
            float: left;
            margin: @margin-medium-vertical 0 0 (@margin-medium-vertical * 2);
        }
    }
}
